<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>舒尔特方格注意力训练</title>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/echarts.js"></script>
<!--    <link href="../static/css/main.css" rel="stylesheet"/>-->
    <link href="../static/css/game.css" rel="stylesheet"/>
</head>
<body>
<!--    <button id ='button'>训练情况</button>-->
    <div id="game" class="container">
        <button id="button">训练情况</button>
        <p class="clock des">00:00:00</p><br><br>
        <div class="container">
            <div class="game"></div>
        </div>
        <div class="container">
            <button id="start"></button>
            <button id="restart"></button>
        </div>
    </div>
    <script src="../static/js/game.js"></script>
</body>
</html>