<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>舒尔特方格注意力训练登录</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery-3.6.0.js"></script>
</head>
<body>
<form id="loginfrom" class="box" method="post">
    <h1>登录</h1>
    <input type="text" name="id" placeholder="账号">
    <input type="password" name="pwd" placeholder="密码">
    <input  id =“login” type="submit" name="" value="登录">
    <button id="register"  name="" value="注册">注册</button>
    <script src="../static/js/login_controller.js"></script>
</form>
</body>
</html>