<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>舒尔特方格注意力训练注册</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery-3.6.0.js"></script>
</head>
<body>
<form id="registfrom" class="box" method="post">
    <h1>注册</h1>
<!--    <input type="text" name="id" placeholder="账号">-->
    <input type="text" name="name" placeholder="姓名">
    <input type="password" name="pwd" placeholder="密码">
    <input type="text" name="gender" placeholder="性别">
    <input type="text" name="age" placeholder="年龄">
    <input  id =“regist” type="submit" name="" value="注册">
    <script src="../static/js/regist_controller.js"></script>
</form>
</body>
</html>