<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>舒尔特方格注意力训练字母</title>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/echarts.js"></script>
    <link href="../static/css/type.css" rel="stylesheet"/>
</head>
<body>
<div id="type_title">字母训练情况</div>
<div id="type_l1"></div>
<div id="type_l2"></div>
<div id="type_r1">
    <div class="num"><h1>0</h1></div>
    <div class="num"><h1>0</h1></div>
    <div class="num"><h1>0</h1></div>
    <div class="num"><h1>0</h1></div>
    <div class="txt"><h2>累计次数</h2></div>
    <div class="txt"><h2>准确率</h2></div>
    <div class="txt"><h2>最好成绩</h2></div>
    <div class="txt"><h2>平均成绩</h2></div>
</div>
<div id="type_r2"></div>
<script src="../static/js/type_r2.js"></script>
<script src="../static/js/type_l1.js"></script>
<script src="../static/js/type_l2.js"></script>
<script src="../static/js/type_controller_2.js"></script>
</body>
</html>